<% action = (sub.persisted? ? sub_url(sub) : subs_url) %>
<% method = (sub.persisted? ? :patch : :post) %>

<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="sub_title">Title</label>
  <input
    type="text"
    name="sub[title]"
    id="sub_title"
    value="<%= sub.title %>">

    <br>

  <label>
    Description
    <textarea name="sub[description]"><%= sub.description %></textarea>
  </label>

    <br>
  <input type="submit" value="Save Sub">
</form>