<% action = (post.persisted? ? sub_post_url(@post.sub_id, @post) : sub_posts_url) %>
<% method = (post.persisted? ? :patch : :post) %>

<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="post_title">Title</label>
  <input
    type="text"
    name="post[title]"
    id="post_title"
    value="<%= post.title %>">

    <br>
  <label for="post_url">URL</label>
  <input
    type="text"
    name="post[url]"
    id="post_url"
    value="<%= post.url %>">

    <br>


  <label for="post_cross_subs">Cross Subs</label><br>
      <% Sub.all.each do |sub| %>
      <% next if sub.id == @post.sub_id %>
    <input type="checkbox" name="post[cross_sub][]" value="<%= sub.id %>">
      <%= sub.title %>
    <br>
      <% end %>
    <br>

  <input type="hidden" name="post[sub_id]" value="<%= @post.sub_id %>">
  <label>
    Content
    <textarea name="post[content]"><%= post.content %></textarea>
  </label>

    <br>
  <input type="submit" value="Save Post">
</form>